.code-section-header {
  font-family:"Roboto", "Helvetica", "Arial", sans-serif;
  color: #746666;
}

.sniped-code-paragraph {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: beige;
  white-space: pre-wrap;
}